.btndesign{
  background: #23282d;
  color: white;
}
.btndesign:hover
{
  color:#007bff!important;
}
.strong{
  color: #000;
  font-size: 16px;
}

.customtabel{
  overflow:hidden;
  border: 1px solid rgba(0,0,0,.125);
  margin: 1rem;
}
.customtabel .topheader{
  background: #23282d;color: white;
  display: flex;
  align-items: center;
  padding:10px;
}
.customtabel .topheader img{
  width: 20px;
  margin-right: 5px;
}
.customtabel .topheader .pageheader{
  margin-bottom: 0;
}

.customtabel > h6{
  background: #23282d;color: white;padding: 10px;
}

.customtabel .listing {
  padding: 2rem 1rem 1rem;
}

.customtabel .topbarbtn button, .customtabel .topbarbtn a{
  background: #23282d;color: white;
}

.detail-table .data{
  display: flex;
}
.detail-table .data h6
{
  width: 180px;
}

.detail-table .data p{
  width: calc(100% - 203px);
}

.detail-table .data span{
  padding-left: 10px;
  padding-right: 10px;
}
.detail-table .data p{
  font-size:15px;
}

.bold{
  color:#23282d;
  font-size: 17px;
}
.updatetable , .addimg ,.showimg-wrapper{
  padding: 10px;
}

.form-control:disabled, 
.form-control[readonly]{
  background-color: transparent!important;
  color:#23282d;
}

.addimg .imgbtn-wrapper{
  display: flex;
}

.imgbtn-wrapper .btn-image-upload{
position: relative;
text-align:center;
margin-right: 10px;
overflow: hidden;
}
.imgbtn-wrapper .btn-image-upload .form-control-file{
  opacity: 0;
  position: absolute;
  left: 0;
  top:0;
  height: 100%;
}
.showimg-wrapper .show-img-wrap
{
  border: 1px solid rgba(35,40,45,0.17);
  padding: 29px;
}

.showimg-wrapper .show-img-wrap .det-showimg{
  position: relative;
}

.showimg-wrapper .show-img-wrap .det-showimg .closeicon{
  position: absolute;
  width: 30px;
  right: -10px;
  top:-15px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 50%;
} 

.wp-person a:focus .gravatar, a:focus, a:focus .media-icon img{
  box-shadow: none;
}

.listingpage .table td,.listingpage .table th{
  padding:8px!important;
}

.listingpage .servicelist{
  height: 35px!important;
  font-size: 17px;
}

.listing.listingpage td:last-child > * {
  margin-bottom: 5px;
}

.listing.listingpage td:last-child > *:last-child {
  margin-bottom: 0;
}