.services-search{
  padding-bottom: 15px!important;
}
@media screen and (min-width:768px){
  .services-search{
    padding-bottom: 0px!important;
  }
}


.services-search  .search-section .multi-select-container{
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 5px;
  font-size: 1rem;
  line-height: 1.5;
  color: #707070;
  vertical-align: middle;
  border: 1px solid transparent;  
  outline: none;
  font-weight: 600;    
  background:#FFFFFF;
  margin: 10px 0px;
  
  
}
@media screen and (min-width:768px){
  .services-search  .search-section .multi-select-container{
    margin: 4px 10px 4px 4px;
    width: 25%;
    
  }
  
}


.services-search  .search-section .multi-select-container .multi-select-button{
  display: inline-block;
  font-size: 1rem;
  padding: 0px 4px 0px 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: -0.5em;
  background-color: #fff;
  border-radius: 4px;
  cursor: default;  
  border: 1px solid transparent;
  box-shadow:none;
  max-width: 100%;
  width: 100%;
  position: relative;

}
.services-search  .search-section .multi-select-container .multi-select-button:focus{
  outline:none;
}
.services-search  .search-section .multi-select-container .multi-select-button:after{
  
  display: none;

  
}
.multi-select-menu{
  z-index:99!important;
  top: 23px!important;
}
 
@media screen and (min-width: 768px){
  .services-search .search-section button {
    width: 20%;
    padding: 0px;
    border-radius: 0px;
    margin: 4px 0px 10px 3px;
    padding: 0;

  }
}
@media screen and (min-width: 768px){
  .services-search .search-section .custom-select-form {
    
    margin: 4px 10px 12px 3px;
    width: 95%;

}
}
.services-search .search-section input{
  border: none;
  height: 39px;
  margin-top: 4px;
  margin-right: 10px;
  color: #70707040;
  font-weight: 600;
  padding-left: 16px; 
  outline:none;
  width: 100%;
}
.services-search .search-section input::placeholder{
  color:#707070;
  /* opacity: 0.9; */
}
@media screen and (min-width:768px){
  .services-search .search-section input{
    width: 25%;
  }
}

section.service-section .pagination_btn .btn-search{
  position: relative;
  display: block;
  width: 44%;
  height: auto;
  margin: 0 auto;
}
@media screen and (min-width:992px){
  section.service-section .pagination_btn .btn-search{ 
    position: absolute;
    width: 30%;
  } 
}
@media screen and (min-width:992px){
  section.service-section .pagination_btn .btn-search{ 
    
    width: 20%;
  } 
}
.pagination-section {
  display: flex;
  text-align: center;
  justify-content: center;
}
@media screen and (min-width:992px){
  .pagination-section {
    display: flex;
    text-align: center;
    justify-content: center;
  }  
}

.multi-select-menuitem {
  display: block;
  font-size: 0.875em;
  padding: 0.6em 1em 0.6em 30px;
  white-space: nowrap;
  position: relative;
}

.services-search .search-section input {
  border: none;
  height: 38px;
  color: #70707040;
  font-weight: 600;
  outline: none;
  width: 100%;  
}
@media screen and (min-width:768px){
  .services-search .search-section input {
    
    width: 25%;  
  }
}

.multi-select-container--open .multi-select-menu .multi-select-menuitems input{
  height: 20px;
  width: 7%;
  position: absolute;
  right: 0px;
}
.services-search .search-section .multi-select-container .multi-select-button {
  
  color: #707070;
}
.services-search .search-section .custom-select-form {
  color: #707070;
}
.services-search .search-section input {
  
  color: #707070;
  
}
.services-search .search-section .custom-select-form:after {
  color: #707070;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.4em 0.4em 0 0.4em;
  border-color: #999 transparent transparent transparent;
  margin-left: 0.4em;
  vertical-align: 0.1em;
  font-family: 'FontAwesome';
  content: "ghdjaksdjf";
  border-style: none!important;
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 15px;
}

.city-section select::-ms-expand {
  display: none;
}
.city-section{
  position: relative;
  width: 100%;
}
@media screen and (min-width:768px){
  .city-section{
    position: relative;
    width: 25%;
  }
}


.city-section i{
  position: absolute;
  right: 8px;
  top: 12px;
  color: #747070;
}

@media screen and (min-width:768px){
  .city-section i {
    right: 15px;
    top: 14px;
    
}
}
.city-section select{
  appearance: none;
  padding: 2px 30px 2px 2px;
  border: none;
  width: 25%;
  background:#FFFFFF!important;
}
.city-section.media-arrow i{
  right: 8px;
  top: 22px;
}
.city-section.city-1 .custom-select-form{
  padding: .375rem 1.75rem .375rem 1rem;
}
@media screen and (min-width:768px){
  .city-section.media-arrow .multi-select-container{
    width:93%;
  }
  .city-section.media-arrow i{
    right: 15px;
    top: 15px;
  }
}
@media screen and (min-width:992px){
  .city-section.media-arrow i{
    right: 17px;
    
  }
}
@media screen and (min-width:1200px){
  .city-section.media-arrow i{
    right: 20px;
    
  }
}
.multi-select-container .multi-select-menu{
  width: auto!important;
  max-height: 300px!important;
  overflow: auto!important;
}

.fa-popup{
  display: none;
}
/* .visit-us .contact-map {
  width: 100%;
  height: 300px;
}

@media screen and (min-width:768px){
  .visit-us .contact-map {
    width: 100%;
    height: 430px;
  }
} */

.hightlight-img {
            width: 100%!important;
            max-width: unset !important;
            transition: all 0.5s ease-in-out;
          }

.mb-servies-menu span.active{
  color: #FFCC00;
}

@media screen and (max-width: 424px) {
  .career .career-list .ul-wrap ul li label,
  .career .career-list .ul-wrap ul li span {
    font-size: 13px!important;
  }
}

.header-scrolled.nav-active .header-nav-wrap .flag {
  position: absolute;
  top: 10px;
  left: 8em
}

footer.footer .footer-border .footer-contact-wrap .footer-contact p{
  margin-left: 0;
}
