.pagination-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 35px 0px;
}

.pagination-wrap a, .pagination-wrap span {
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem .75rem;
  background: #333;
  color: #FFFFFF
  
}
.pagination-wrap a{
  color: #EEEEEE;
  text-decoration: none;
  background-color: transparent;
  font-weight: 600;
}

.pagination-wrap .prev{
  border-radius: 5px 0px 0 5px;
}

.pagination-wrap .next{
  border-radius: 0px 5px 5px 0px;
}
a.prev.page-numbers {
  background: #EEEEEE;
  color: transparent;
  border-radius: 1px;
  width: 43px;
  position: relative;
  padding: 0px;
  
}
.pagination-wrap .prev::after {
  border-radius: 5px 0px 0 5px;
  content: '\f053';
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  color: #333333;
  position: absolute;
}
a.next.page-numbers::after {
  border-radius: 5px 0px 0 5px;
  content: '\f054';
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  color: #333333;
  position: absolute;
}
a.next.page-numbers {
  background: #EEEEEE;
  color: transparent;
  border-radius: 1px;
  width: 43px;
  position: relative;
  padding: 0px;
}
a.page-numbers{
  border: 0px;
  background: #EEEEEE;
  color: #333333;
}
