@font-face {
  font-family: CG-Font;
  src: url("../assets/webfonts/Century-Gothic-400.ttf"); }

body {
  font-family: 'CG-Font', sans-serif; }

section {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto; }
  @media screen and (min-width: 768px) {
    section {
      padding-top: 60px;
      padding-bottom: 60px; } }
  section.section-0 {
    padding-top: 0;
    padding-bottom: 0; }
  section.home-section-slider {
    margin-top: -10px; }
  section.siblingClass:not(.banner-section) {
    margin-top: 78px; }

.pageheader {
  font-family: 'Poppins', sans-serif;
  font-weight: 700 !important; }

h1.header {
  font-size: 45px;
  font-weight: 600; }
  @media screen and (min-width: 768px) {
    h1.header {
      font-size: 52px; } }
  @media screen and (min-width: 992px) {
    h1.header {
      font-size: 75px; } }

h2 {
  font-size: 24px;
  font-weight: bold; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 2rem; } }

h3.sub-header {
  font-size: 22px; }
  @media screen and (min-width: 768px) {
    h3.sub-header {
      font-size: 1.75rem; } }

h5.title {
  font-size: 18px;
  font-weight: 600; }
  @media screen and (min-width: 768px) {
    h5.title {
      font-size: 22px; } }

.bold {
  font-weight: 600; }

.w50 {
  width: 50%; }

.career p {
  color: #707070; }

.upper {
  text-transform: uppercase; }

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .overlay.bg-overlay {
    z-index: 1; }
    .overlay.bg-overlay:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 260px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%); }
    .overlay.bg-overlay:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 150px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%); }
      @media screen and (min-width: 992px) {
        .overlay.bg-overlay:after {
          height: 250px; } }
    .overlay.bg-overlay.rev-overlay:before {
      background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 100%); }
    .overlay.bg-overlay.rev-overlay:after {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%); }

span.star {
  display: inline-block;
  padding-left: 5px;
  color: #FF0000; }

.modal .cu-modal {
  position: relative; }
  .modal .cu-modal .modal-content {
    border-radius: .1rem; }
    .modal .cu-modal .modal-content .modal-body {
      padding: 0; }
  .modal .cu-modal .modal-slide-thumbnail {
    bottom: initial;
    margin-right: initial;
    margin-left: initial; }
    .modal .cu-modal .modal-slide-thumbnail li {
      text-indent: 0;
      width: 110px;
      height: auto;
      margin-left: 5px;
      margin-right: 5px; }
      .modal .cu-modal .modal-slide-thumbnail li img {
        width: 100%; }

.modal.fade {
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999; }

.modal .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: auto;
  z-index: 1;
  padding: 20px;
  background: #000000;
  opacity: 1;
  transition: all 0.3s ease-in-out; }
  .modal .close:focus, .modal .close:active, .modal .close:visited {
    outline: 0; }
  .modal .close:before, .modal .close:after {
    content: ' ';
    position: absolute;
    top: 7px;
    right: 18px;
    height: 23px;
    width: 2px;
    background-color: #FFFFFF; }
  .modal .close:before {
    transform: rotate(45deg); }
  .modal .close:after {
    transform: rotate(-45deg); }

a.cu-btn,
button.cu-btn {
  border-radius: 0;
  font-size: 14px;
  background: transparent;
  color: #000000;
  border-color: #000000;
  transition: all 0.3s ease-in-out; }
  @media screen and (min-width: 768px) {
    a.cu-btn,
    button.cu-btn {
      font-size: 16px; } }
  a.cu-btn:hover,
  button.cu-btn:hover {
    background: #000000;
    border-color: #000000;
    color: #FFFFFF; }

a.submit-btn,
button.submit-btn {
  border-radius: 0;
  font-size: 14px;
  margin-top: 30px;
  border: 1px solid;
  background: #000000;
  color: #FFFFFF;
  padding: 10px 40px;
  border-radius: .2rem;
  transition: all ease-in-out .5s; }
  @media screen and (min-width: 768px) {
    a.submit-btn,
    button.submit-btn {
      font-size: 16px; } }
  @media screen and (min-width: 375px) {
    a.submit-btn,
    button.submit-btn {
      padding: 10px 50px; } }
  a.submit-btn:first-child,
  button.submit-btn:first-child {
    margin-right: 0px; }
    @media screen and (min-width: 768px) {
      a.submit-btn:first-child,
      button.submit-btn:first-child {
        margin-right: 30px; } }
  a.submit-btn:hover,
  button.submit-btn:hover {
    color: #000000;
    background: #FFFFFF;
    transition: all ease-in-out .3s; }

.custom-card img {
  transform: translateX(0px); }

.custom-card:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFCC00;
  z-index: -1;
  transition: all .5s ease-in-out;
  transform: translate3d(-5px, -10px, 0); }

@media screen and (min-width: 768px) {
  .custom-card {
    transform: translateX(0);
    position: relative;
    transition: all .5s ease-in-out;
    cursor: pointer; }
    .custom-card img {
      transform: translateX(0); }
    .custom-card:after {
      transform: translate3d(-20px, -20px, 0); }
    .custom-card:hover {
      transform: translate3d(-10px, -10px, 0); }
      .custom-card:hover:after {
        transform: translate3d(-10px, -10px, 0); }
    .custom-card.reverse-card:after {
      transform: translate3d(20px, -20px, 0); }
    .custom-card.reverse-card:hover {
      transform: translate3d(10px, -10px, 0); }
      .custom-card.reverse-card:hover:after {
        transform: translate3d(10px, -10px, 0); } }

.card.service-card {
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.02), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  transition: all .6s ease-in-out;
  height: 100%; }
  .card.service-card:after {
    content: '';
    width: 165px;
    height: 165px;
    background: #FFCC00;
    border-radius: 50%;
    position: absolute;
    top: -46px;
    left: -46px;
    z-index: 0;
    transition: all .6s ease-in-out; }
  .card.service-card img {
    z-index: 1; }
  .card.service-card:hover {
    transform: translate3d(0, -10px, 0); }
    .card.service-card:hover:after {
      width: 180px;
      height: 180px; }
    .card.service-card:hover .service-title h4 {
      color: #FFCC00; }

.card .service-title {
  padding: 16px; }
  .card .service-title h4 {
    margin-bottom: 0;
    transition: all 0.3s ease-in-out; }

body .img.flag {
  display: flex;
  justify-content: flex-end;
  transform: translateX(-38px);
  margin-left: 0px; }
  body .img.flag li a {
    opacity: .5; }
    body .img.flag li a.active {
      opacity: 1; }
  @media screen and (min-width: 576px) {
    body .img.flag {
      transform: translateX(-97px); } }
  @media screen and (min-width: 576px) {
    body .img.flag {
      transform: translateX(-153px); } }
  @media screen and (min-width: 992px) {
    body .img.flag {
      transform: translateX(-23px); } }
  @media screen and (min-width: 1200px) {
    body .img.flag {
      transform: translateX(-74px); } }

body .header-nav-wrap .header-menu-wrap .menu-ul .mb-servies-menu {
  display: none; }

body.open-menu {
  height: 100vh;
  overflow: hidden; }
  body.open-menu .mb-header.nav-active .img.flag {
    transform: translate(-2px); }
  body.open-menu .header-nav-wrap .header-menu-wrap .menu-ul .dropdown {
    display: none; }
  body.open-menu .header-nav-wrap .header-menu-wrap .menu-ul .mb-servies-menu {
    display: block; }
    body.open-menu .header-nav-wrap .header-menu-wrap .menu-ul .mb-servies-menu .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px; }
    body.open-menu .header-nav-wrap .header-menu-wrap .menu-ul .mb-servies-menu .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 15px 0;
  height: auto;
  transition: all 0.3s ease-in-out; }
  header .copy-right {
    display: none; }
  header:not(.header-scrolled) nav.header-nav .header-nav-wrap .menu-ul, header:not(.nav-active) nav.header-nav .header-nav-wrap .menu-ul {
    display: none;
    width: 100%; }
    @media screen and (min-width: 768px) {
      header:not(.header-scrolled) nav.header-nav .header-nav-wrap .menu-ul, header:not(.nav-active) nav.header-nav .header-nav-wrap .menu-ul {
        width: 100%; } }
    @media screen and (min-width: 992px) {
      header:not(.header-scrolled) nav.header-nav .header-nav-wrap .menu-ul, header:not(.nav-active) nav.header-nav .header-nav-wrap .menu-ul {
        display: flex;
        justify-content: flex-end; } }
  header:not(.header-scrolled) nav.header-nav .header-nav-wrap .header-feature-img, header:not(.nav-active) nav.header-nav .header-nav-wrap .header-feature-img {
    display: none;
    margin-top: 50px; }
    @media screen and (min-width: 768px) {
      header:not(.header-scrolled) nav.header-nav .header-nav-wrap .header-feature-img, header:not(.nav-active) nav.header-nav .header-nav-wrap .header-feature-img {
        width: 70%; } }
  header .menu-ul {
    display: none; }
    @media screen and (min-width: 992px) {
      header .menu-ul {
        display: block; } }
    header .menu-ul li a {
      font-family: 'Barlow', sans-serif; }
  header .header-feature-img {
    margin-top: 50px; }
  header.header-scrolled {
    background: rgba(0, 0, 0, 0.6); }
    header.header-scrolled .img.flag {
      opacity: 0; }
    header.header-scrolled:not(.nav-active) nav.header-nav ul.menu-ul li {
      display: none; }
    header.header-scrolled.nav-active .img.flag {
      opacity: 1;
      transform: translateX(-7px); }
      header.header-scrolled.nav-active .img.flag li a img {
        opacity: 1; }
    header.header-scrolled.nav-active nav.header-nav {
      height: 100%; }
      header.header-scrolled.nav-active nav.header-nav .header-nav-wrap {
        display: block;
        height: 100%; }
        header.header-scrolled.nav-active nav.header-nav .header-nav-wrap ul.menu-ul {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: left;
          margin-top: 50px; }
          header.header-scrolled.nav-active nav.header-nav .header-nav-wrap ul.menu-ul li {
            text-align: left;
            margin-bottom: 2em; }
            @media screen and (min-width: 1200px) {
              header.header-scrolled.nav-active nav.header-nav .header-nav-wrap ul.menu-ul li a {
                font-size: 24px; } }
            @media screen and (min-width: 1366px) {
              header.header-scrolled.nav-active nav.header-nav .header-nav-wrap ul.menu-ul li a {
                font-size: 30px; } }
        header.header-scrolled.nav-active nav.header-nav .header-nav-wrap .menu-btn {
          position: absolute;
          top: 0;
          right: 0; }
          header.header-scrolled.nav-active nav.header-nav .header-nav-wrap .menu-btn.open {
            opacity: 1 !important; }
  header.nav-active {
    z-index: 99999;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.89) 0%, rgba(0, 0, 0, 0.92) 50%, rgba(0, 0, 0, 0.88) 100%); }
    header.nav-active .container,
    header.nav-active .row,
    header.nav-active [class*="col-12"] {
      height: 100%; }
    header.nav-active .copy-right {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      bottom: 1em;
      left: 0;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px; }
      header.nav-active .copy-right p {
        margin-bottom: 0;
        color: rgba(255, 255, 255, 0.4); }
        header.nav-active .copy-right p a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.4);
          transition: all 0.3s ease-in-out; }
          header.nav-active .copy-right p a:hover {
            color: #FFFFFF; }
  header.mb-header {
    background: 0; }
    header.mb-header.header-scrolled {
      background: rgba(0, 0, 0, 0.8); }
    header.mb-header.nav-active {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.89) 0%, rgba(0, 0, 0, 0.92) 50%, rgba(0, 0, 0, 0.88) 100%); }
      header.mb-header.nav-active .header-nav {
        height: 100%; }
        header.mb-header.nav-active .header-nav .header-nav-wrap {
          display: block;
          height: 100%; }
          header.mb-header.nav-active .header-nav .header-nav-wrap .menu-ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 40px;
            width: 100%; }
            @media screen and (min-width: 768px) {
              header.mb-header.nav-active .header-nav .header-nav-wrap .menu-ul {
                width: 30%; } }
            header.mb-header.nav-active .header-nav .header-nav-wrap .menu-ul li {
              text-align: center;
              margin-bottom: 2em; }
              @media screen and (min-width: 768px) {
                header.mb-header.nav-active .header-nav .header-nav-wrap .menu-ul li {
                  text-align: left; } }
              header.mb-header.nav-active .header-nav .header-nav-wrap .menu-ul li a {
                font-size: 18px;
                display: flex;
                justify-content: space-between; }
          header.mb-header.nav-active .header-nav .header-nav-wrap .header-feature-img {
            width: 100%; }
            @media screen and (min-width: 768px) {
              header.mb-header.nav-active .header-nav .header-nav-wrap .header-feature-img {
                width: 70%; } }
          header.mb-header.nav-active .header-nav .header-nav-wrap .menu-btn {
            position: absolute;
            top: 0;
            right: 0; }
    header.mb-header nav.header-nav .header-nav-wrap .menu-btn {
      opacity: 1 !important; }
    header.mb-header .copy-right .copy-right-txt span {
      display: block; }
  header nav.header-nav .header-nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
    header nav.header-nav .header-nav-wrap .menu-btn {
      opacity: 0; }
    header nav.header-nav .header-nav-wrap ul {
      list-style: none;
      display: flex;
      margin-bottom: 0;
      padding-left: 0; }
      header nav.header-nav .header-nav-wrap ul.img-ul li {
        margin: 0; }
      header nav.header-nav .header-nav-wrap ul.img.flag {
        margin-left: 0px; }
        header nav.header-nav .header-nav-wrap ul.img.flag li {
          margin: 0;
          margin-left: 10px; }
          header nav.header-nav .header-nav-wrap ul.img.flag li img {
            width: 25px; }
            @media screen and (min-width: 992px) {
              header nav.header-nav .header-nav-wrap ul.img.flag li img {
                width: 30px; } }
      header nav.header-nav .header-nav-wrap ul li {
        animation-name: fadeInDown;
        animation-duration: .5s;
        animation-fill-mode: both;
        margin: 0 10px; }
        header nav.header-nav .header-nav-wrap ul li img {
          max-width: 120px;
          height: auto; }
        header nav.header-nav .header-nav-wrap ul li.active a {
          color: #FFCC00; }
        header nav.header-nav .header-nav-wrap ul li a {
          color: #FFFFFF;
          text-decoration: none;
          transition: all 0.3s ease-in-out; }
          header nav.header-nav .header-nav-wrap ul li a:hover {
            color: #FFCC00; }
  header .menu-btn {
    width: 35px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out; }
    header .menu-btn .menu-icon {
      width: 35px;
      height: 3px;
      background: #FFFFFF;
      border-radius: 5px;
      transition: all .2s ease-in-out; }
      header .menu-btn .menu-icon:before, header .menu-btn .menu-icon:after {
        content: '';
        position: absolute;
        width: 35px;
        height: 3px;
        background: #FFCC00;
        border-radius: 5px;
        transition: all .2s ease-in-out; }
      header .menu-btn .menu-icon:before {
        transform: translateY(-10px); }
      header .menu-btn .menu-icon:after {
        transform: translateY(10px); }
    header .menu-btn.open .menu-icon {
      transform: translateX(-50px);
      background: transparent; }
      header .menu-btn.open .menu-icon:before {
        transform: rotate(45deg) translate(35px, -35px);
        background: #FFCC00; }
      header .menu-btn.open .menu-icon:after {
        transform: rotate(-45deg) translate(35px, 35px);
        background: #FFCC00; }
  header.other-header {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    header.other-header.header-scrolled {
      background: rgba(255, 255, 255, 0.95); }
    header.other-header nav.header-nav .header-nav-wrap ul li a {
      color: #000000;
      font-weight: 600; }
      header.other-header nav.header-nav .header-nav-wrap ul li a:hover {
        color: #FFCC00; }
    header.other-header nav.header-nav .header-nav-wrap ul li.active a {
      color: #FFCC00; }
    header.other-header nav.header-nav .header-nav-wrap .menu-btn .menu-icon {
      background: #000000; }
      header.other-header nav.header-nav .header-nav-wrap .menu-btn .menu-icon:before, header.other-header nav.header-nav .header-nav-wrap .menu-btn .menu-icon:after {
        background: #FFCC00;
        box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.32); }
    header.other-header.nav-active {
      background: rgba(0, 0, 0, 0.95); }
      @media screen and (min-width: 768px) {
        header.other-header.nav-active nav.header-nav .header-nav-wrap ul li {
          text-align: left !important; } }
      header.other-header.nav-active nav.header-nav .header-nav-wrap ul li a {
        color: #FFFFFF;
        font-weight: 600; }
        header.other-header.nav-active nav.header-nav .header-nav-wrap ul li a:hover {
          color: #FFCC00; }
      header.other-header.nav-active nav.header-nav .header-nav-wrap ul li.active a {
        color: #FFCC00; }
      header.other-header.nav-active nav.header-nav .header-nav-wrap .header-feature-img {
        display: none; }
        @media screen and (min-width: 768px) {
          header.other-header.nav-active nav.header-nav .header-nav-wrap .header-feature-img {
            display: flex; } }
        header.other-header.nav-active nav.header-nav .header-nav-wrap .header-feature-img .feature-col {
          padding-right: 0px;
          margin-bottom: 13px; }
      header.other-header.nav-active nav.header-nav .header-nav-wrap .menu-btn .menu-icon {
        background: #FFCC00; }
        header.other-header.nav-active nav.header-nav .header-nav-wrap .menu-btn .menu-icon:before, header.other-header.nav-active nav.header-nav .header-nav-wrap .menu-btn .menu-icon:after {
          background: #FFCC00; }
      header.other-header.nav-active nav.header-nav .header-nav-wrap .menu-btn.open .menu-icon {
        background: transparent; }
    header.other-header .header-menu-wrap {
      justify-content: center;
      display: flex; }
      @media screen and (min-width: 768px) {
        header.other-header .header-menu-wrap {
          justify-content: space-between; } }
      header.other-header .header-menu-wrap ul.menu-ul {
        width: 100%; }
        @media screen and (min-width: 768px) {
          header.other-header .header-menu-wrap ul.menu-ul {
            width: 30%; } }
      header.other-header .header-menu-wrap .header-feature-img {
        margin-top: 50px;
        height: calc(100vh - 170px);
        overflow-x: hidden;
        overflow-y: scroll;
        display: none; }
        header.other-header .header-menu-wrap .header-feature-img::-webkit-scrollbar {
          display: none; }
        header.other-header .header-menu-wrap .header-feature-img .row {
          display: none; }
          @media screen and (min-width: 768px) {
            header.other-header .header-menu-wrap .header-feature-img .row {
              display: flex;
              height: 189px; } }
        header.other-header .header-menu-wrap .header-feature-img .feature-col {
          margin-bottom: 30px; }
          header.other-header .header-menu-wrap .header-feature-img .feature-col .feature-img {
            position: relative;
            overflow: hidden; }
            header.other-header .header-menu-wrap .header-feature-img .feature-col .feature-img img:hover {
              transform: scale(1.5); }
            header.other-header .header-menu-wrap .header-feature-img .feature-col .feature-img .caption {
              position: absolute;
              top: 0px;
              background: #3f3f3f73;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: end;
              align-items: flex-end;
              transition: all .8s ease; }
              header.other-header .header-menu-wrap .header-feature-img .feature-col .feature-img .caption:hover {
                background: #1f1e1eab;
                transition: all .8s ease; }
                header.other-header .header-menu-wrap .header-feature-img .feature-col .feature-img .caption:hover p {
                  padding-left: 20px;
                  transition: all .8s ease;
                  color: #FFCC00; }
              header.other-header .header-menu-wrap .header-feature-img .feature-col .feature-img .caption p {
                padding: 10px;
                margin-bottom: 0px;
                color: #FFF;
                transition: all .8s ease;
                font-weight: 600; }
    header.other-header .dropdown .dropdown-toggle {
      transform: translateY(-7px);
      position: relative; }
      header.other-header .dropdown .dropdown-toggle i {
        position: absolute;
        top: 4px;
        right: 3px; }
      header.other-header .dropdown .dropdown-toggle::after {
        display: none; }
    header.other-header .dropdown .dropdown-menu {
      background-color: #f9f9f9;
      transform: translate3d(-53px, 31px, 0px) !important;
      border: none;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
      header.other-header .dropdown .dropdown-menu .shape::before {
        position: absolute;
        top: -10px;
        left: 45%;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #f9f9f9;
        content: ""; }
      header.other-header .dropdown .dropdown-menu .dropdown-item {
        border-bottom: 1px solid #dddddd33; }
        header.other-header .dropdown .dropdown-menu .dropdown-item:last-child {
          border-bottom: 0px solid transparent; }
        header.other-header .dropdown .dropdown-menu .dropdown-item:hover, header.other-header .dropdown .dropdown-menu .dropdown-item:focus {
          background-color: #f9f9f9; }

/*----------------------- Preloader -----------------------*/
body.preloader-site {
  overflow: hidden; }

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999; }

.preloader-wrapper .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 999; }

.header-menu-wrap {
  justify-content: center; }
  @media screen and (min-width: 768px) {
    .header-menu-wrap {
      display: flex;
      justify-content: space-between; } }
  .header-menu-wrap ul.menu-ul {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .header-menu-wrap ul.menu-ul {
        width: 30%; } }
  .header-menu-wrap .header-feature-img {
    width: 70%;
    margin-top: 50px;
    height: calc(100vh - 170px);
    overflow-x: hidden;
    overflow-y: scroll; }
    .header-menu-wrap .header-feature-img::-webkit-scrollbar {
      display: none; }
    .header-menu-wrap .header-feature-img .row {
      display: none; }
      @media screen and (min-width: 768px) {
        .header-menu-wrap .header-feature-img .row {
          display: flex;
          height: 189px; } }
    .header-menu-wrap .header-feature-img .feature-col {
      margin-bottom: 30px; }
      .header-menu-wrap .header-feature-img .feature-col .feature-img {
        position: relative;
        overflow: hidden; }
        .header-menu-wrap .header-feature-img .feature-col .feature-img img:hover {
          transform: scale(1.5); }
        .header-menu-wrap .header-feature-img .feature-col .feature-img .caption {
          position: absolute;
          top: 0px;
          background: #3f3f3f73;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: end;
          align-items: flex-end;
          transition: all .8s ease; }
          .header-menu-wrap .header-feature-img .feature-col .feature-img .caption:hover {
            background: #1f1e1eab;
            transition: all .8s ease; }
            .header-menu-wrap .header-feature-img .feature-col .feature-img .caption:hover p {
              padding-left: 20px;
              transition: all .8s ease;
              color: #FFCC00; }
          .header-menu-wrap .header-feature-img .feature-col .feature-img .caption p {
            padding: 10px;
            margin-bottom: 0px;
            color: #FFF;
            transition: all .8s ease;
            font-weight: 600; }

.dropdown .dropdown-toggle {
  transform: translateY(-7px);
  position: relative; }
  .dropdown .dropdown-toggle i {
    position: absolute;
    top: 4px;
    right: 3px; }
  .dropdown .dropdown-toggle::after {
    display: none; }

.dropdown .dropdown-menu {
  background-color: #262526ad;
  transform: translate3d(-53px, 31px, 0px) !important; }
  .dropdown .dropdown-menu .shape::before {
    position: absolute;
    top: -10px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #262526ad;
    content: ""; }
  .dropdown .dropdown-menu .dropdown-item {
    border-bottom: 1px solid #dddddd33; }
    .dropdown .dropdown-menu .dropdown-item:last-child {
      border-bottom: 0px solid transparent; }
    .dropdown .dropdown-menu .dropdown-item:hover, .dropdown .dropdown-menu .dropdown-item:focus {
      background-color: transparent; }

.mb-servies-menu .update-mb-menu {
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .mb-servies-menu .update-mb-menu i {
      display: none; } }

#mySidenav {
  width: 100%;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  left: -100%;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  background: #070605;
  z-index: 999; }
  #mySidenav.active {
    opacity: 1;
    left: 0;
    visibility: visible; }
  #mySidenav .mb-menu-link .sec-mb-menu {
    margin-bottom: 20px; }
    #mySidenav .mb-menu-link .sec-mb-menu i {
      margin-right: 40px; }
    #mySidenav .mb-menu-link .sec-mb-menu a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      color: #f8f9fa;
      display: block;
      transition: all .5s ease-in-out;
      font-family: 'Barlow', sans-serif; }
      @media screen and (min-width: 768px) {
        #mySidenav .mb-menu-link .sec-mb-menu a {
          font-size: 24px; } }
      #mySidenav .mb-menu-link .sec-mb-menu a:hover {
        color: #FFCC00; }
    #mySidenav .mb-menu-link .sec-mb-menu:hover a {
      color: #FFCC00; }

.banner-section {
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden; }
  @media screen and (max-width: 376px) {
    .banner-section {
      height: calc(100vh - 90px); } }
  .banner-section .hero-vdo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%); }
    @media screen and (max-width: 376px) {
      .banner-section .hero-vdo {
        transform: translateX(-50%) translateY(-61%); } }
    .banner-section .hero-vdo.vd-large {
      display: none; }
      @media screen and (min-width: 768px) {
        .banner-section .hero-vdo.vd-large {
          display: block; } }
    .banner-section .hero-vdo.vd-small {
      position: fixed;
      /* top: 0px; */
      /* left: 0px; */
      min-width: 100%;
      min-height: 100%;
      width: 100%;
      height: 100vh;
      z-index: -1;
      object-fit: fill; }
      @media screen and (min-width: 768px) {
        .banner-section .hero-vdo.vd-small {
          display: none; } }
  .banner-section .bg-overlay {
    z-index: 0;
    background: rgba(0, 0, 0, 0.32); }
  .banner-section .banner-wrap {
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%; }
    .banner-section .banner-wrap .banner-header {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .banner-section .banner-wrap .banner-header h1 {
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
        color: #FFFFFF;
        font-weight: 400;
        z-index: 1;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative; }
        .banner-section .banner-wrap .banner-header h1 a {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 53px;
          display: flex;
          justify-content: center;
          color: #b5b3b3;
          font-size: 40px;
          text-decoration: none;
          transition: all 0.3s ease-in-out; }
          .banner-section .banner-wrap .banner-header h1 a:hover {
            color: #FFFFFF; }
          .banner-section .banner-wrap .banner-header h1 a.go-to .arrow {
            width: 47px;
            height: 2.25rem;
            position: relative;
            transition: all 0.3s ease-in-out; }
            .banner-section .banner-wrap .banner-header h1 a.go-to .arrow:hover {
              transform: translateY(15px); }
            .banner-section .banner-wrap .banner-header h1 a.go-to .arrow span {
              top: 0.5rem;
              position: absolute;
              width: 28px;
              height: 0.1rem;
              background-color: #efefef;
              display: inline-block;
              transition: all 0.3s ease-in-out; }
              .banner-section .banner-wrap .banner-header h1 a.go-to .arrow span:first-of-type {
                left: 0;
                transform: rotate(45deg); }
              .banner-section .banner-wrap .banner-header h1 a.go-to .arrow span:last-of-type {
                right: 0;
                transform: rotate(-45deg); }
    .banner-section .banner-wrap .banner-social {
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center; }
      .banner-section .banner-wrap .banner-social .icon-wrap a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-size: 18px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-bottom: 10px;
        transition: all .2s ease-in-out;
        text-decoration: none; }
        @media screen and (min-width: 768px) {
          .banner-section .banner-wrap .banner-social .icon-wrap a {
            width: 40px;
            height: 40px; } }
        @media screen and (min-width: 992px) {
          .banner-section .banner-wrap .banner-social .icon-wrap a {
            width: 50px;
            height: 50px;
            font-size: 26px; } }
        .banner-section .banner-wrap .banner-social .icon-wrap a:hover {
          color: #FFCC00; }

.home-firsection {
  height: 100%;
  position: relative; }
  .home-firsection .firstsec-slider .slick-prev {
    z-index: 1;
    background-image: url("../../assets/images/icons/next1.svg");
    background-repeat: no-repeat;
    transform: rotate(90deg);
    background-size: 20px;
    top: initial;
    bottom: 43px;
    left: 40.5%; }
    @media screen and (min-width: 768px) {
      .home-firsection .firstsec-slider .slick-prev {
        left: 45%; } }
    @media screen and (min-width: 992px) {
      .home-firsection .firstsec-slider .slick-prev {
        left: 47.5%; } }
    .home-firsection .firstsec-slider .slick-prev:before {
      content: "";
      display: block;
      transform: rotate(90deg);
      width: 75px;
      height: 2px;
      background: rgba(255, 255, 255, 0.48);
      position: absolute;
      bottom: -47px;
      left: -27px;
      opacity: 1; }
  .home-firsection .firstsec-slider .slick-next {
    z-index: 1;
    background-image: url("../../assets/images/icons/next1.svg");
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    background-size: 20px;
    top: initial;
    bottom: 43px;
    right: 40.5%; }
    @media screen and (min-width: 768px) {
      .home-firsection .firstsec-slider .slick-next {
        right: 45%; } }
    @media screen and (min-width: 992px) {
      .home-firsection .firstsec-slider .slick-next {
        right: 47.5%; } }
    .home-firsection .firstsec-slider .slick-next:before {
      content: "";
      display: block;
      transform: rotate(90deg);
      width: 75px;
      height: 2px;
      background: rgba(255, 255, 255, 0.48);
      position: absolute;
      bottom: -47px;
      left: -27px;
      opacity: 1; }
  .home-firsection .firstsec-slider .first-sec .firstsec-img {
    position: relative; }
    .home-firsection .firstsec-slider .first-sec .firstsec-img .overlay {
      background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%); }
    .home-firsection .firstsec-slider .first-sec .firstsec-img .img-desk {
      display: none; }
      @media screen and (min-width: 768px) {
        .home-firsection .firstsec-slider .first-sec .firstsec-img .img-desk {
          display: flex; } }
    @media screen and (min-width: 768px) {
      .home-firsection .firstsec-slider .first-sec .firstsec-img .img-mb {
        display: none; } }
    .home-firsection .firstsec-slider .first-sec .firstsec-img img {
      width: 100%; }
  .home-firsection .firstsec-slider .first-sec .slide-desc-wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 5px 60px 5px;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5); }
    @media screen and (min-width: 992px) {
      .home-firsection .firstsec-slider .first-sec .slide-desc-wrap {
        padding: 40px;
        padding-bottom: 70px; } }
    .home-firsection .firstsec-slider .first-sec .slide-desc-wrap .slide-desc h2,
    .home-firsection .firstsec-slider .first-sec .slide-desc-wrap .slide-desc p {
      color: #FFFFFF;
      text-align: center; }

.home-section-slider .highlight-item .hightlight-wrap {
  position: relative; }
  .home-section-slider .highlight-item .hightlight-wrap img.mb-img {
    display: block;
    width: 100%; }
  .home-section-slider .highlight-item .hightlight-wrap img.dsk-img {
    display: none; }
  .home-section-slider .highlight-item .hightlight-wrap .hightlight-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.73) 0%, rgba(0, 0, 0, 0.22) 50%, rgba(0, 0, 0, 0.73) 100%); }
    .home-section-slider .highlight-item .hightlight-wrap .hightlight-text .text-wrap {
      text-align: center;
      width: 100%; }
      .home-section-slider .highlight-item .hightlight-wrap .hightlight-text .text-wrap ul {
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        transition: all 0.5s ease-in-out; }
        @media screen and (min-width: 1200px) {
          .home-section-slider .highlight-item .hightlight-wrap .hightlight-text .text-wrap ul {
            width: 200%;
            justify-content: initial; } }
    .home-section-slider .highlight-item .hightlight-wrap .hightlight-text .highlight-title {
      color: white;
      font-size: 24px;
      font-weight: 500; }
      .home-section-slider .highlight-item .hightlight-wrap .hightlight-text .highlight-title.mb-label {
        display: none; }
  .home-section-slider .highlight-item .hightlight-wrap:focus, .home-section-slider .highlight-item .hightlight-wrap:active, .home-section-slider .highlight-item .hightlight-wrap:visited {
    outline: 0; }

.home-section-slider .highlight-item .slick-prev {
  left: 0px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  width: 35px;
  height: 50px; }
  @media screen and (min-width: 992px) {
    .home-section-slider .highlight-item .slick-prev {
      width: 50px; } }
  .home-section-slider .highlight-item .slick-prev::before {
    opacity: 1;
    background-image: url("../assets/images/icons/back_new.svg");
    width: 50px;
    height: 50px;
    color: transparent;
    background-repeat: no-repeat;
    background-size: contain; }

.home-section-slider .highlight-item .slick-next {
  right: 0px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  width: 35px;
  height: 50px; }
  @media screen and (min-width: 992px) {
    .home-section-slider .highlight-item .slick-next {
      width: 50px; } }
  .home-section-slider .highlight-item .slick-next::before {
    opacity: 1;
    background-image: url("../assets/images/icons/next_new.svg");
    width: 50px;
    height: 50px;
    color: transparent;
    background-repeat: no-repeat;
    background-size: contain; }

@media screen and (min-width: 1200px) {
  .home-section-slider {
    position: relative; }
    .home-section-slider .highlight-item .hightlight-wrap {
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      position: relative; }
      .home-section-slider .highlight-item .hightlight-wrap img {
        transition: all 0.5s ease-in-out; }
        .home-section-slider .highlight-item .hightlight-wrap img.mb-img {
          display: none; }
        .home-section-slider .highlight-item .hightlight-wrap img.dsk-img {
          display: block; }
        .home-section-slider .highlight-item .hightlight-wrap img.hightlight-img {
          transition: all 0.5s ease-in-out; }
      .home-section-slider .highlight-item .hightlight-wrap .text-wrap ul {
        display: flex;
        width: 200%;
        transition: all 0.5s ease-in-out; }
        .home-section-slider .highlight-item .hightlight-wrap .text-wrap ul li {
          display: inline-block;
          width: 50%; }
          .home-section-slider .highlight-item .hightlight-wrap .text-wrap ul li.highlight-title {
            transition: all 0.5s ease-in-out; }
            .home-section-slider .highlight-item .hightlight-wrap .text-wrap ul li.highlight-title.mb-label {
              display: block; }
      .home-section-slider .highlight-item .hightlight-wrap:hover img.hightlight-img {
        transform: scale(1.1); }
      .home-section-slider .highlight-item .hightlight-wrap:hover .hightlight-text .text-wrap ul {
        transform: translateX(-50%); }
        .home-section-slider .highlight-item .hightlight-wrap:hover .hightlight-text .text-wrap ul li.highlight-title {
          color: #FFFFFF;
          transition: all 0.5s ease-in-out; } }

section.career {
  background: rgba(239, 239, 239, 0.39);
  margin-top: 80px; }
  section.career .career-content {
    margin-bottom: 30px; }
  section.career .career-list {
    position: relative;
    margin-bottom: 20px;
    border: 0px solid transparent !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.22), 0 2px 10px 0 rgba(0, 0, 0, 0);
    overflow: hidden;
    border: 1px solid transparent;
    background-color: #F3F3F3;
    padding: 16px; }
    section.career .career-list:before {
      content: "";
      border-color: transparent #707070;
      border-style: solid;
      border-width: 16px 0 16px 16px;
      display: block;
      height: 0;
      width: 0;
      left: -4px;
      top: -14px;
      color: #707070;
      position: absolute;
      transform: rotate(-136deg); }
    section.career .career-list:after {
      content: '';
      position: absolute;
      top: 9px;
      left: -7px;
      width: 32px;
      height: 2px;
      background: #FFCC00;
      transform: rotate(-46deg); }
    @media screen and (min-width: 768px) {
      section.career .career-list {
        padding: 30px; } }
    section.career .career-list .ul-wrap {
      align-items: center;
      justify-content: space-between;
      margin-top: 15px; }
      @media screen and (min-width: 992px) {
        section.career .career-list .ul-wrap {
          display: flex;
          margin-top: 0; } }
      section.career .career-list .ul-wrap ul {
        list-style: none;
        padding-left: 0px;
        margin-bottom: 15px; }
        @media screen and (min-width: 992px) {
          section.career .career-list .ul-wrap ul {
            display: flex;
            margin-bottom: 0; } }
        section.career .career-list .ul-wrap ul li {
          display: flex;
          padding-right: 0px; }
          @media screen and (min-width: 768px) {
            section.career .career-list .ul-wrap ul li {
              padding-right: 30px; } }
          section.career .career-list .ul-wrap ul li > * {
            margin-right: 20px; }
            section.career .career-list .ul-wrap ul li > *:last-child {
              margin-right: 0; }
          section.career .career-list .ul-wrap ul li label {
            position: relative;
            font-size: 14px;
            min-width: 84px; }
            @media screen and (min-width: 425px) {
              section.career .career-list .ul-wrap ul li label {
                width: 85px; } }
            @media screen and (min-width: 768px) {
              section.career .career-list .ul-wrap ul li label {
                width: 150px;
                font-size: 16px; } }
            @media screen and (min-width: 992px) {
              section.career .career-list .ul-wrap ul li label {
                width: auto;
                min-width: 30px; } }
            section.career .career-list .ul-wrap ul li label:after {
              content: ":";
              position: absolute;
              right: -10px; }
          section.career .career-list .ul-wrap ul li.dept {
            width: auto; }
            @media screen and (min-width: 992px) {
              section.career .career-list .ul-wrap ul li.dept {
                width: 430px; } }
      section.career .career-list .ul-wrap a.readmore-btn {
        border: 1px solid #000000;
        background: #FFFFFF;
        color: #000000;
        border-radius: 0px;
        padding: 5px 20px;
        transition: all ease-in-out 0.3s; }
        section.career .career-list .ul-wrap a.readmore-btn:hover {
          background: #000000;
          color: #FFFFFF;
          transition: all ease-in-out 0.3s; }

section.contactus {
  background: rgba(239, 239, 239, 0.39);
  margin-top: 80px; }
  section.contactus .sub-header {
    margin-bottom: 20px; }
  section.contactus .contact-form {
    flex-direction: column-reverse; }
    @media screen and (min-width: 768px) {
      section.contactus .contact-form {
        flex-direction: initial; } }
    section.contactus .contact-form .contact-from label {
      font-weight: 600; }
    section.contactus .contact-form .page-title {
      padding-bottom: 15px;
      border-bottom: 1px solid #707070;
      margin-bottom: 20px; }
    section.contactus .contact-form .visit-us.wrapper {
      margin-bottom: 20px; }
      @media screen and (min-width: 768px) {
        section.contactus .contact-form .visit-us.wrapper {
          margin-bottom: 0; } }
      section.contactus .contact-form .visit-us.wrapper a {
        color: #333; }
        section.contactus .contact-form .visit-us.wrapper a:hover {
          text-decoration: none; }
      section.contactus .contact-form .visit-us.wrapper .contact-map iframe {
        width: 100%;
        height: 350px; }
        @media screen and (min-width: 768px) {
          section.contactus .contact-form .visit-us.wrapper .contact-map iframe {
            height: 400px; } }
        @media screen and (min-width: 992px) {
          section.contactus .contact-form .visit-us.wrapper .contact-map iframe {
            height: 450px; } }
      section.contactus .contact-form .visit-us.wrapper .contact-detail {
        border: 1px solid transparent;
        background-color: #F3F3F3;
        padding: 16px;
        margin-top: 25px; }
        @media screen and (min-width: 768px) {
          section.contactus .contact-form .visit-us.wrapper .contact-detail {
            margin-top: 100px; } }
        @media screen and (min-width: 992px) {
          section.contactus .contact-form .visit-us.wrapper .contact-detail {
            margin-top: 50px; } }
        section.contactus .contact-form .visit-us.wrapper .contact-detail .title {
          margin-bottom: 10px; }
        section.contactus .contact-form .visit-us.wrapper .contact-detail .detail-wrap {
          padding-bottom: 10px;
          display: flex; }
          section.contactus .contact-form .visit-us.wrapper .contact-detail .detail-wrap img {
            width: 15px;
            margin-right: 15px; }
          section.contactus .contact-form .visit-us.wrapper .contact-detail .detail-wrap a {
            text-decoration: none;
            color: #707070;
            font-weight: 400;
            transition: all 0.3s ease-in-out; }
            section.contactus .contact-form .visit-us.wrapper .contact-detail .detail-wrap a:hover {
              color: #000000; }

section.contactus-banner {
  margin-top: 75px; }
  section.contactus-banner .firstsec-slider .slick-list .first-sec .firstsec-img .slide-desc-wrap {
    height: 20%;
    padding: 0px;
    bottom: 2px; }
    @media screen and (min-width: 768px) {
      section.contactus-banner .firstsec-slider .slick-list .first-sec .firstsec-img .slide-desc-wrap {
        padding: 10px; } }
    @media screen and (min-width: 992px) {
      section.contactus-banner .firstsec-slider .slick-list .first-sec .firstsec-img .slide-desc-wrap {
        padding: 17px; } }
    @media screen and (min-width: 1200px) {
      section.contactus-banner .firstsec-slider .slick-list .first-sec .firstsec-img .slide-desc-wrap {
        height: 15%; } }
    section.contactus-banner .firstsec-slider .slick-list .first-sec .firstsec-img .slide-desc-wrap.you-tube-slide {
      height: 15% !important;
      bottom: 105px !important;
      padding: 6px; }
      @media screen and (min-width: 768px) {
        section.contactus-banner .firstsec-slider .slick-list .first-sec .firstsec-img .slide-desc-wrap.you-tube-slide {
          bottom: -11px !important; } }
    section.contactus-banner .firstsec-slider .slick-list .first-sec .firstsec-img .slide-desc-wrap .slide-desc {
      display: flex;
      justify-content: center;
      align-items: flex-end; }
      section.contactus-banner .firstsec-slider .slick-list .first-sec .firstsec-img .slide-desc-wrap .slide-desc h2 {
        font-size: 14px; }
        @media screen and (min-width: 768px) {
          section.contactus-banner .firstsec-slider .slick-list .first-sec .firstsec-img .slide-desc-wrap .slide-desc h2 {
            font-size: 24px; } }
  section.contactus-banner .firstsec-slider .slick-next {
    top: 50%;
    right: 3%; }
    section.contactus-banner .firstsec-slider .slick-next::before {
      display: none; }
  section.contactus-banner .firstsec-slider .slick-prev {
    top: 50%;
    left: 3%; }
    section.contactus-banner .firstsec-slider .slick-prev::before {
      display: none; }
  section.contactus-banner.banner-video {
    height: 230px; }
    @media screen and (min-width: 768px) {
      section.contactus-banner.banner-video {
        height: auto; } }
    section.contactus-banner.banner-video .firstsec-slider .slick-list .first-sec .firstsec-img {
      position: relative;
      height: 300px; }
      @media screen and (min-width: 768px) {
        section.contactus-banner.banner-video .firstsec-slider .slick-list .first-sec .firstsec-img {
          height: 300px; } }
      @media screen and (min-width: 768px) {
        section.contactus-banner.banner-video .firstsec-slider .slick-list .first-sec .firstsec-img {
          height: 500px; } }
      section.contactus-banner.banner-video .firstsec-slider .slick-list .first-sec .firstsec-img iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%; }
      @media screen and (min-width: 768px) {
        section.contactus-banner.banner-video .firstsec-slider .slick-list .first-sec .firstsec-img iframe {
          height: 87%; } }
      section.contactus-banner.banner-video .firstsec-slider .slick-list .first-sec .firstsec-img .slide-desc-wrap {
        height: 20%;
        bottom: 90px; }
        @media screen and (min-width: 768px) {
          section.contactus-banner.banner-video .firstsec-slider .slick-list .first-sec .firstsec-img .slide-desc-wrap {
            height: 17%;
            bottom: -20px;
            padding: 21px 5px 55px 5px; } }
        @media screen and (min-width: 768px) {
          section.contactus-banner.banner-video .firstsec-slider .slick-list .first-sec .firstsec-img .slide-desc-wrap .slide-desc {
            align-items: baseline; } }

footer.footer {
  margin-top: -15px;
  background: #000000;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media screen and (min-width: 768px) {
    footer.footer {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media screen and (min-width: 992px) {
    footer.footer {
      padding-top: 60px;
      padding-bottom: 60px; } }
  footer.footer img {
    width: 16px;
    height: auto; }
    footer.footer img.footer-logo {
      width: 100px;
      height: auto; }
  footer.footer span {
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 20px;
    letter-spacing: 6px;
    color: #B9B9B9; }
  footer.footer .footer-border {
    position: relative;
    height: 100%;
    display: block; }
    footer.footer .footer-border.last:after {
      display: none; }
    footer.footer .footer-border.third-col:after {
      right: -20px; }
    @media screen and (min-width: 1200px) {
      footer.footer .footer-border:after {
        content: '';
        width: 1px;
        height: 100%;
        min-height: 175px;
        background: #FFCC00;
        position: absolute;
        right: -15px;
        top: 0; } }
    footer.footer .footer-border .footer-contact-wrap {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 15px; }
      footer.footer .footer-border .footer-contact-wrap .footer-contact a {
        margin-left: 10px;
        display: block;
        text-decoration: none;
        color: #B9B9B9;
        margin-bottom: 0;
        transition: all 0.3s ease-in-out; }
        footer.footer .footer-border .footer-contact-wrap .footer-contact a:hover {
          color: #FFCC00; }
      footer.footer .footer-border .footer-contact-wrap .footer-contact p {
        margin-left: 10px;
        color: #B9B9B9;
        margin-bottom: 0; }
        footer.footer .footer-border .footer-contact-wrap .footer-contact p.copy-right-txt {
          margin-left: 0; }
          footer.footer .footer-border .footer-contact-wrap .footer-contact p.copy-right-txt a {
            color: #FFFFFF;
            display: inline; }
            footer.footer .footer-border .footer-contact-wrap .footer-contact p.copy-right-txt a:hover {
              color: #FFCC00; }
          @media screen and (min-width: 1200px) {
            footer.footer .footer-border .footer-contact-wrap .footer-contact p.copy-right-txt {
              margin-left: 10px; } }
      footer.footer .footer-border .footer-contact-wrap .footer-contact br {
        display: none; }
        @media screen and (min-width: 1200px) {
          footer.footer .footer-border .footer-contact-wrap .footer-contact br {
            display: block; } }

.career-detail.career-page {
  margin-top: 90px; }
  @media screen and (min-width: 768px) {
    .career-detail.career-page {
      margin-top: 70px; } }

.career-detail .date-type {
  margin-top: 30px; }
  .career-detail .date-type p {
    color: #707070; }
  .career-detail .date-type .type {
    padding-left: 0px; }
    .career-detail .date-type .type li {
      list-style-type: none;
      margin-bottom: 10px;
      display: flex;
      align-items: flex-start; }
      .career-detail .date-type .type li strong {
        min-width: 150px;
        display: inline-block;
        position: relative; }
        .career-detail .date-type .type li strong:after {
          content: ':';
          position: absolute;
          right: 15px; }

.career-detail .job-description {
  margin-top: 20px; }
  @media screen and (min-width: 768px) {
    .career-detail .job-description {
      margin-top: 50px; } }
  .career-detail .job-description p {
    margin-top: 10px;
    color: #707070; }
    @media screen and (min-width: 768px) {
      .career-detail .job-description p {
        margin-top: 30px; } }
  .career-detail .job-description ul {
    padding-left: 20px; }
    .career-detail .job-description ul li {
      color: #707070; }

.career-detail .job-form {
  margin-top: 50px;
  overflow-x: hidden; }
  .career-detail .job-form .detail-form {
    margin-top: 30px; }
    @media screen and (min-width: 768px) {
      .career-detail .job-form .detail-form {
        width: 70%; } }
    .career-detail .job-form .detail-form label {
      color: #707070;
      font-weight: 600; }
    .career-detail .job-form .detail-form .attachment {
      display: flex;
      align-items: center;
      position: relative; }
      .career-detail .job-form .detail-form .attachment .upload-file {
        position: relative;
        min-width: 80px;
        height: 70px;
        border: 1px dashed #B9B9B9;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; }
        .career-detail .job-form .detail-form .attachment .upload-file img {
          width: 40px;
          position: absolute; }
      .career-detail .job-form .detail-form .attachment #myfile {
        opacity: 0;
        transform: translateX(-50%); }
      .career-detail .job-form .detail-form .attachment .showfile {
        position: absolute;
        left: 100px; }
  .career-detail .job-form .sharelink-wrap {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .career-detail .job-form .sharelink-wrap {
        width: auto; } }
    .career-detail .job-form .sharelink-wrap .careerBtn {
      display: flex;
      justify-content: space-between; }
      @media screen and (min-width: 768px) {
        .career-detail .job-form .sharelink-wrap .careerBtn {
          justify-content: initial; } }
    .career-detail .job-form .sharelink-wrap #shareBlock {
      position: absolute;
      top: -16px;
      right: 0px; }
      @media screen and (min-width: 768px) {
        .career-detail .job-form .sharelink-wrap #shareBlock {
          top: -16px;
          right: -43px; } }
      .career-detail .job-form .sharelink-wrap #shareBlock a i {
        color: white;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .career-detail .job-form .sharelink-wrap #shareBlock a i.fa-facebook-f {
          background: #3b5998; }
        .career-detail .job-form .sharelink-wrap #shareBlock a i.fa-facebook-messenger {
          background: #006AFF; }
        .career-detail .job-form .sharelink-wrap #shareBlock a i.fa-linkedin {
          background: #0e76a8; }
        .career-detail .job-form .sharelink-wrap #shareBlock a i.fa-viber {
          background: #665CAC; }
        .career-detail .job-form .sharelink-wrap #shareBlock a i.fa-twitter {
          background: #00acee; }
        .career-detail .job-form .sharelink-wrap #shareBlock a i.fa-envelope {
          background: #939598; }

.sharelink {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out; }
  .sharelink.sharelinkopen {
    opacity: 1;
    visibility: visible; }
    .sharelink.sharelinkopen a:first-child {
      animation-name: fadeInUp;
      animation-duration: .3s; }
    .sharelink.sharelinkopen a:nth-child(2) {
      animation-name: fadeInUp;
      animation-duration: .6s; }
    .sharelink.sharelinkopen a:nth-child(3) {
      animation-name: fadeInUp;
      animation-duration: .9s; }
    .sharelink.sharelinkopen a:nth-child(4) {
      animation-name: fadeInUp;
      animation-duration: 1.2s; }
    .sharelink.sharelinkopen a:last-child {
      animation-name: fadeInUp;
      animation-duration: 1.5s; }

.our-work {
  background: rgba(239, 239, 239, 0.39);
  margin-top: 80px; }
  .our-work .career-detail .date-type .type li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
    .our-work .career-detail .date-type .type li strong {
      width: 30%;
      display: flex;
      align-items: flex-start; }
      @media screen and (max-width: 374px) {
        .our-work .career-detail .date-type .type li strong:after {
          display: none; } }
  .our-work .work-section {
    padding-top: 20px;
    border-bottom: 1px solid #eeeeee; }
    .our-work .work-section:nth-child(2) {
      padding-top: 50px; }
    .our-work .work-section:last-child {
      border: 0;
      margin-bottom: 0px; }
    @media screen and (min-width: 768px) {
      .our-work .work-section {
        margin-bottom: 50px; } }
    .our-work .work-section .work-col .custom-card {
      position: relative; }
      .our-work .work-section .work-col .custom-card .search-icn {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 41px;
        height: 40px;
        background: #212529bd;
        padding: 6px 6px 9px 10px; }
      .our-work .work-section .work-col .custom-card .youtube-logo {
        top: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 6px 6px 9px 10px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .our-work .work-section .work-col .custom-card .youtube-logo img {
          width: 100px;
          height: 100px;
          background: #21252954;
          padding: 17px;
          border-radius: 46px; }
    .our-work .work-section .work-col .work-txt {
      padding: 0; }
      @media screen and (min-width: 992px) {
        .our-work .work-section .work-col .work-txt {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          height: 100%;
          align-items: center;
          padding: 40px; } }
      .our-work .work-section .work-col .work-txt .work-wrap {
        margin-top: 20px; }
        @media screen and (min-width: 768px) {
          .our-work .work-section .work-col .work-txt .work-wrap {
            margin-top: 0px; } }
      .our-work .work-section .work-col .work-txt .date-type span {
        display: inline-block;
        width: 75%;
        padding-left: 10px;
        text-align: start; }
    .our-work .work-section .work-col .modal .modal-dialog .modal-content .modal-body .close {
      background: transparent; }
    .our-work .work-section .work-col .modal-youtube .modal-dialog .modal-content .modal-body .carousel {
      overflow: hidden;
      height: 500px; }
  .our-work .row-reverse {
    flex-direction: row-reverse; }
    .our-work .row-reverse .work-col .reverse-card .search-icn {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 41px;
      height: 40px;
      background: #212529bd;
      padding: 6px 6px 9px 10px; }
    @media screen and (min-width: 768px) {
      .our-work .row-reverse .work-col .work-txt .work-wrap .date-type .type li {
        justify-content: flex-end;
        display: flex;
        align-items: flex-start; }
        .our-work .row-reverse .work-col .work-txt .work-wrap .date-type .type li span {
          display: inline-block;
          width: 75%; } }
  .our-work .work-pagination .pagination {
    justify-content: center; }
    .our-work .work-pagination .pagination .page-item .page-link {
      background-color: #EEEEEE;
      color: #000000;
      border: 0px; }
      .our-work .work-pagination .pagination .page-item .page-link:focus {
        box-shadow: none; }
    .our-work .work-pagination .pagination .page-item.active .page-link {
      background-color: #000000;
      color: #FFFFFF;
      border-color: #000000; }

.ourclient {
  padding-top: 80px;
  margin-bottom: 100px;
  border-top: 1px solid #EEEEEE; }
  .ourclient .client-slide-wrap {
    margin-top: 40px; }
    .ourclient .client-slide-wrap .column-img {
      display: flex !important;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 3.5rem;
      cursor: pointer; }
      .ourclient .client-slide-wrap .column-img img {
        width: 150px;
        transform: scale(1);
        transition: all 0.3s ease-in-out; }
      .ourclient .client-slide-wrap .column-img:hover img {
        transform: scale(1.1); }
  .ourclient .client-slide-wrap .slick-dots {
    bottom: -50px; }
    .ourclient .client-slide-wrap .slick-dots li button::before {
      font-size: 40px;
      content: '';
      border-radius: 29px;
      border: 1px solid #B9B9B9;
      width: 15px;
      height: 15px;
      opacity: 1; }
    .ourclient .client-slide-wrap .slick-dots li.slick-active button::before {
      font-size: 40px;
      content: '';
      border-radius: 29px;
      background: #B9B9B9;
      width: 15px;
      height: 15px;
      opacity: 1; }
  .ourclient .client-slide-wrap .slick-track .slick-slide {
    outline: 0px; }
    .ourclient .client-slide-wrap .slick-track .slick-slide div {
      outline: 0px; }

section.aboutus-header {
  padding-bottom: 0px;
  margin-top: 80px; }

section.branchandmap-wrapper {
  background: transparent linear-gradient(180deg, rgba(249, 249, 249, 0.15) 0%, #F3F3F3 100%) 0% 0% no-repeat padding-box;
  padding-top: 30px;
  padding-bottom: 20px; }
  section.branchandmap-wrapper .allbrandandwrap {
    position: relative; }
    section.branchandmap-wrapper .allbrandandwrap .barnch-wrap {
      position: relative;
      padding: 10px; }
      @media screen and (min-width: 992px) {
        section.branchandmap-wrapper .allbrandandwrap .barnch-wrap .tab-wrap {
          display: flex;
          min-height: auto; } }
      section.branchandmap-wrapper .allbrandandwrap .barnch-wrap .tab-wrap .branchmap {
        width: 100%;
        margin-bottom: 20px; }
        @media screen and (min-width: 992px) {
          section.branchandmap-wrapper .allbrandandwrap .barnch-wrap .tab-wrap .branchmap {
            width: 50%; } }
        @media screen and (min-width: 1440px) {
          section.branchandmap-wrapper .allbrandandwrap .barnch-wrap .tab-wrap .branchmap {
            width: 60%; } }
      section.branchandmap-wrapper .allbrandandwrap .barnch-wrap .tab-wrap .branchtext {
        width: 100%;
        margin-top: 0px;
        right: 0;
        top: 100px; }
        @media screen and (min-width: 992px) {
          section.branchandmap-wrapper .allbrandandwrap .barnch-wrap .tab-wrap .branchtext {
            position: absolute;
            width: 50%;
            margin-top: 30px; } }
        @media screen and (min-width: 1440px) {
          section.branchandmap-wrapper .allbrandandwrap .barnch-wrap .tab-wrap .branchtext {
            width: 50%;
            right: 0; } }
        section.branchandmap-wrapper .allbrandandwrap .barnch-wrap .tab-wrap .branchtext h5.title {
          margin-bottom: 15px; }
        section.branchandmap-wrapper .allbrandandwrap .barnch-wrap .tab-wrap .branchtext p {
          line-height: 30px; }
    section.branchandmap-wrapper .allbrandandwrap .tabheader {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      position: absolute; }
      section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab {
        flex-direction: column;
        z-index: 1;
        background-color: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        position: absolute; }
        @media screen and (min-width: 992px) {
          section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab {
            flex-direction: initial;
            width: 50%;
            position: initial; } }
        section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab li {
          transition: all 0.3s ease-in-out; }
          @media screen and (min-width: 992px) {
            section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab li {
              width: 25%; }
              section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab li a {
                padding-left: 0;
                padding-right: 0; } }
          section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab li:hover a {
            position: relative; }
            section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab li:hover a img {
              transform: scale(1.1); }
          section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab li a {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: none;
            border: 0; }
            section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab li a img {
              transform: scale(1);
              transition: all 0.3s ease-in-out; }
            @media screen and (max-width: 991px) {
              section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab li a.active:after {
                content: "";
                background-color: #FFCC00;
                width: 3px;
                height: 40px;
                position: absolute;
                top: -1px;
                bottom: 0;
                margin: auto 0;
                left: 0; } }
            section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab li a .flag {
              width: 20px;
              margin-bottom: 0px;
              margin-top: 0; }
              @media screen and (min-width: 425px) {
                section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab li a .flag {
                  width: 35px; } }
              @media screen and (min-width: 992px) {
                section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab li a .flag {
                  margin-top: 10px;
                  margin-bottom: 15px; } }
            section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab li a span {
              display: none;
              color: #707070; }
              @media screen and (min-width: 992px) {
                section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab li a span {
                  display: block;
                  font-size: 14px;
                  font-weight: 600; } }
            section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab li a.active img {
              transform: scale(1.1); }
            section.branchandmap-wrapper .allbrandandwrap .tabheader ul#myTab li a.active span:after {
              content: "";
              background-color: #FFCC00;
              width: 60px;
              height: 3px;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              margin: 0 auto; }

section.service-section {
  background: #FFFFFF; }
  section.service-section .sub-header {
    margin-bottom: 20px; }
  section.service-section .pagedesc {
    margin-bottom: 40px; }
    @media screen and (min-width: 768px) {
      section.service-section .pagedesc {
        margin-bottom: 80px; } }
  section.service-section .service-card .service-carousel {
    z-index: 1;
    position: relative; }
  section.service-section .service-card .card-title-link {
    color: #333; }
    section.service-section .service-card .card-title-link:hover {
      text-decoration: none;
      color: #fecc02; }
  section.service-section .service-card .card-title {
    font-size: 18px;
    text-align: center;
    position: relative; }
    @media screen and (min-width: 768px) {
      section.service-section .service-card .card-title {
        font-size: 14px; } }
    @media screen and (min-width: 1200px) {
      section.service-section .service-card .card-title {
        font-size: 18px; } }
    section.service-section .service-card .card-title i {
      position: absolute;
      top: 2px;
      right: 0px; }
  section.service-section .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    background: transparent;
    z-index: 9; }
  section.service-section .pagination_btn {
    position: relative; }
    section.service-section .pagination_btn .btn-search {
      position: absolute;
      top: 0px;
      right: 0px;
      margin: 0px; }
    section.service-section .pagination_btn .pagination-section .pagination {
      display: flex;
      justify-content: left; }
      @media screen and (min-width: 768px) {
        section.service-section .pagination_btn .pagination-section .pagination {
          justify-content: center; } }
      section.service-section .pagination_btn .pagination-section .pagination .page-item .page-link:focus {
        box-shadow: 0 0 0 0.2rem transparent; }
      section.service-section .pagination_btn .pagination-section .pagination li a {
        background: #EEEEEE;
        color: #333;
        border: 1px solid #EEEEEE;
        border-radius: none;
        border-radius: 0px; }
      section.service-section .pagination_btn .pagination-section .pagination li.active a {
        background: #333;
        border: 1px solid #333;
        color: #FFFFFF; }
    section.service-section .pagination_btn button {
      padding: 8px 35px !important; }

.services-search {
  background: #F3F3F3; }
  .services-search.search-section-update {
    padding-top: 18px !important;
    padding-bottom: 18px !important; }
    @media screen and (min-width: 768px) {
      .services-search.search-section-update {
        padding-top: 10px !important;
        padding-bottom: 2px !important; } }
  @media screen and (min-width: 768px) {
    .services-search .search-section {
      display: flex; } }
  .services-search .search-section .custom-select-form {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #707070;
    vertical-align: middle;
    border: 1px solid transparent;
    margin: 0px;
    outline: none;
    font-weight: 600;
    margin-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .services-search .search-section .custom-select-form {
        margin: 4px 10px 12px 3px; } }
  .services-search .search-section button {
    width: 50%;
    padding: 6.5px 40px;
    border-radius: 0px;
    margin: 0; }
    @media screen and (min-width: 768px) {
      .services-search .search-section button {
        width: 23%;
        padding: 6px 31px;
        border-radius: 0px;
        margin: 4px 0px 12px 8px; } }

.service-map {
  padding-top: 0px;
  margin-bottom: 50px; }
  @media screen and (min-width: 768px) {
    .service-map {
      margin-bottom: 0px; } }
  .service-map .map-width {
    width: 100%;
    height: 700px; }

.service-wrapper-margin {
  margin-top: 80px; }

.ourstory {
  padding-bottom: 30px; }
  .ourstory .story_desc {
    margin-top: 25px; }
  .ourstory .vision_mission .corporate_visio {
    margin-top: 25px;
    display: flex;
    align-items: flex-start; }
    @media screen and (min-width: 992px) {
      .ourstory .vision_mission .corporate_visio {
        margin-top: 50px; } }
    .ourstory .vision_mission .corporate_visio .vision_img {
      position: relative;
      height: 100px; }
      .ourstory .vision_mission .corporate_visio .vision_img .bg-color {
        width: 60px;
        height: 60px;
        border-radius: 44px;
        background: rgba(185, 185, 185, 0.15); }
        @media screen and (min-width: 768px) {
          .ourstory .vision_mission .corporate_visio .vision_img .bg-color {
            width: 79px;
            height: 81px; } }
      .ourstory .vision_mission .corporate_visio .vision_img img {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 12px; }
    .ourstory .vision_mission .corporate_visio .vision_txt {
      margin-left: 15px; }
      .ourstory .vision_mission .corporate_visio .vision_txt .title {
        font-weight: bold; }

section.ourhistory-section {
  padding-top: 30px;
  border-top: 1px solid #EEEEEE;
  overflow-x: hidden; }
  section.ourhistory-section h5.historytitle {
    margin-bottom: 50px; }
  section.ourhistory-section .history-wrap {
    display: flex;
    align-items: center; }
    section.ourhistory-section .history-wrap ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
      margin: 0 auto;
      position: relative; }
      section.ourhistory-section .history-wrap ul:after {
        content: ' ';
        display: inline-block;
        height: 100%;
        width: 1px;
        border-left: 1px dashed #b9b9b9;
        position: absolute;
        left: 0%;
        top: 0; }
        @media screen and (min-width: 992px) {
          section.ourhistory-section .history-wrap ul:after {
            left: 50%; } }
      section.ourhistory-section .history-wrap ul li {
        display: flex;
        align-items: center;
        padding: 20px 0;
        padding-bottom: 3rem;
        position: relative; }
        section.ourhistory-section .history-wrap ul li:hover:nth-child(even) .content span {
          transform: translateY(-10px);
          transition: all ease-in-out .8s;
          display: block; }
        section.ourhistory-section .history-wrap ul li:hover:nth-child(even) .content:before {
          background: #FFCC00;
          transition: all ease-in-out .8s; }
        section.ourhistory-section .history-wrap ul li:hover:nth-child(even) .year .onhover .hover-bg {
          transform: translateY(0px); }
        section.ourhistory-section .history-wrap ul li:hover:nth-child(odd) .content span {
          transform: translateY(-10px);
          transition: all ease-in-out .8s;
          display: block; }
        section.ourhistory-section .history-wrap ul li:hover:nth-child(odd) .content:before {
          background: #FFCC00;
          transition: all ease-in-out .8s; }
        section.ourhistory-section .history-wrap ul li:hover:nth-child(odd) .year .onhover .hover-bg {
          transform: translateY(0px);
          transition: all ease-in-out .8s; }
        section.ourhistory-section .history-wrap ul li:nth-child(even) {
          padding-right: 5rem;
          transform: translate3d(0px, 1px, 0); }
          @media screen and (min-width: 992px) {
            section.ourhistory-section .history-wrap ul li:nth-child(even) {
              border-left: none; } }
          @media screen and (max-width: 991px) {
            section.ourhistory-section .history-wrap ul li:nth-child(even) {
              flex-direction: row-reverse;
              padding-right: 0;
              padding-left: 5rem; } }
          section.ourhistory-section .history-wrap ul li:nth-child(even) .year {
            margin-right: 0; }
            @media screen and (max-width: 991px) {
              section.ourhistory-section .history-wrap ul li:nth-child(even) .year {
                margin-right: 15px; } }
            section.ourhistory-section .history-wrap ul li:nth-child(even) .year:before, section.ourhistory-section .history-wrap ul li:nth-child(even) .year:after {
              content: '';
              position: absolute;
              bottom: -20px;
              right: -28px; }
            section.ourhistory-section .history-wrap ul li:nth-child(even) .year:before {
              height: 80%;
              border-left: 1px solid #FFCC00; }
              @media screen and (max-width: 991px) {
                section.ourhistory-section .history-wrap ul li:nth-child(even) .year:before {
                  right: initial;
                  left: -28px;
                  z-index: 9; } }
            section.ourhistory-section .history-wrap ul li:nth-child(even) .year:after {
              width: 320px;
              border-bottom: 1px solid #FFCC00; }
              @media screen and (min-width: 768px) {
                section.ourhistory-section .history-wrap ul li:nth-child(even) .year:after {
                  width: 350px; } }
              @media screen and (max-width: 991px) {
                section.ourhistory-section .history-wrap ul li:nth-child(even) .year:after {
                  right: initial;
                  left: -28px;
                  z-index: 9; } }
            section.ourhistory-section .history-wrap ul li:nth-child(even) .year span {
              position: absolute; }
          section.ourhistory-section .history-wrap ul li:nth-child(even) .content {
            width: 80%;
            padding-bottom: 20px; }
            section.ourhistory-section .history-wrap ul li:nth-child(even) .content span {
              transition: all ease-in-out .5s; }
            @media screen and (min-width: 992px) {
              section.ourhistory-section .history-wrap ul li:nth-child(even) .content {
                padding-bottom: 0px; } }
            section.ourhistory-section .history-wrap ul li:nth-child(even) .content:before, section.ourhistory-section .history-wrap ul li:nth-child(even) .content:after {
              content: '';
              position: absolute;
              top: -30px;
              bottom: 0;
              margin: auto; }
            section.ourhistory-section .history-wrap ul li:nth-child(even) .content:before {
              right: -8px;
              width: 15px;
              height: 15px;
              background: #FFFFFF;
              border: 2px solid #FFCC00;
              border-radius: 50%; }
              @media screen and (max-width: 991px) {
                section.ourhistory-section .history-wrap ul li:nth-child(even) .content:before {
                  right: initial;
                  left: -8px;
                  z-index: 9; } }
            section.ourhistory-section .history-wrap ul li:nth-child(even) .content:after {
              right: 10px;
              width: 45px;
              height: 1px;
              background: #FFCC00; }
              @media screen and (max-width: 991px) {
                section.ourhistory-section .history-wrap ul li:nth-child(even) .content:after {
                  right: initial;
                  left: 8px;
                  z-index: 9; } }
        section.ourhistory-section .history-wrap ul li:nth-child(odd) {
          padding-left: 5rem;
          flex-direction: row-reverse; }
          @media screen and (min-width: 992px) {
            section.ourhistory-section .history-wrap ul li:nth-child(odd) {
              transform: translateX(100%); } }
          section.ourhistory-section .history-wrap ul li:nth-child(odd) .year {
            margin-right: 15px; }
            section.ourhistory-section .history-wrap ul li:nth-child(odd) .year:before, section.ourhistory-section .history-wrap ul li:nth-child(odd) .year:after {
              content: '';
              position: absolute;
              bottom: -20px;
              left: -28px; }
            section.ourhistory-section .history-wrap ul li:nth-child(odd) .year:before {
              height: 80%;
              border-left: 1px solid #FFCC00; }
            section.ourhistory-section .history-wrap ul li:nth-child(odd) .year:after {
              width: 320px;
              border-bottom: 1px solid #FFCC00; }
              @media screen and (min-width: 768px) {
                section.ourhistory-section .history-wrap ul li:nth-child(odd) .year:after {
                  width: 350px; } }
            section.ourhistory-section .history-wrap ul li:nth-child(odd) .year span {
              position: absolute; }
          section.ourhistory-section .history-wrap ul li:nth-child(odd) .content {
            width: 80%;
            margin-bottom: 20px; }
            section.ourhistory-section .history-wrap ul li:nth-child(odd) .content span {
              transition: all ease-in-out .5s; }
            section.ourhistory-section .history-wrap ul li:nth-child(odd) .content:before, section.ourhistory-section .history-wrap ul li:nth-child(odd) .content:after {
              content: '';
              position: absolute;
              top: -30px;
              bottom: 0;
              margin: auto; }
            section.ourhistory-section .history-wrap ul li:nth-child(odd) .content:before {
              left: -8px;
              width: 15px;
              height: 15px;
              background: #FFFFFF;
              border: 2px solid #FFCC00;
              border-radius: 50%; }
            section.ourhistory-section .history-wrap ul li:nth-child(odd) .content:after {
              left: 8px;
              width: 45px;
              height: 1px;
              background: #FFCC00; }
        section.ourhistory-section .history-wrap ul li:first-child {
          position: relative; }
          section.ourhistory-section .history-wrap ul li:first-child:before {
            content: '';
            width: 100%;
            position: absolute;
            top: 0;
            left: -100%;
            border-top: 1px dashed #b9b9b9; }
        section.ourhistory-section .history-wrap ul li:last-child {
          position: relative; }
          section.ourhistory-section .history-wrap ul li:last-child:before {
            content: '';
            width: 100%;
            position: absolute;
            bottom: 0;
            left: -100%;
            border-top: 1px dashed #b9b9b9; }
            @media screen and (min-width: 992px) {
              section.ourhistory-section .history-wrap ul li:last-child:before {
                left: initial;
                right: -100%; } }
        section.ourhistory-section .history-wrap ul li .year {
          position: relative;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold; }
          section.ourhistory-section .history-wrap ul li .year .onhover {
            width: 70px;
            height: 70px;
            border: 2px solid #FFCC00;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            overflow: hidden; }
            section.ourhistory-section .history-wrap ul li .year .onhover .hover-bg {
              width: 70px;
              height: 70px;
              background: #FFCC00;
              border-radius: 10%;
              display: flex;
              align-items: center;
              justify-content: center;
              transform: translateY(70px);
              transition: all ease-in-out .8s; }
        section.ourhistory-section .history-wrap ul li .content {
          font-weight: bold; }

.ourwork_detail_banner {
  margin-top: 80px; }

.ourwork_detail .title-border {
  padding-bottom: 20px;
  border-bottom: 1px solid #F3F3F3; }

.ourwork_detail .work_map {
  margin-top: 40px; }
  .ourwork_detail .work_map .service-map {
    margin-bottom: 0px;
    padding: 0px; }
    .ourwork_detail .work_map .service-map .container {
      padding: 0px; }
      .ourwork_detail .work_map .service-map .container .map-width {
        height: 500px; }
  .ourwork_detail .work_map a {
    color: #333; }
    .ourwork_detail .work_map a:hover {
      text-decoration: none; }
    .ourwork_detail .work_map a p {
      margin-top: 20px; }

.ourwork_detail .detail_informatbion_order {
  margin-top: 20px; }
  @media screen and (min-width: 768px) {
    .ourwork_detail .detail_informatbion_order {
      margin-top: 0px; } }

.ourwork_detail .detail_information ul {
  padding: 0px;
  margin-top: 40px; }
  .ourwork_detail .detail_information ul li {
    display: flex;
    margin-bottom: 35px; }
    .ourwork_detail .detail_information ul li strong {
      width: 30%;
      min-width: 150px; }
    .ourwork_detail .detail_information ul li span {
      width: 70%; }
  .ourwork_detail .detail_information ul .last-li {
    margin-bottom: 10px; }

@media screen and (min-width: 992px) {
  .ourwork_detail .detail-button button {
    padding: 10px 48px; } }
